
/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông,...) */

/* Common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333333333333%;
}

.col-four{
    width: 25%;
}

.text-align{
    text-align: center !important;
    font-size: 15px;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.color-white{
    color: white;
}
/* Common */

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
}

#header .nav-insert,
#header .nav-search{
    float: right;
}

#header .nav-insert {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .insert-btn,
#header .nav-search .search-btn{
    color: #fff;
    line-height: 46px;
    padding: 0 23px;
    display: inline-block;
    min-height: 46px;
}

#header .nav-insert:hover .insert-btn {
    background-color: #ccc;
}
#header .nav-insert:hover .insert-btn {
    color: #000;
}

#header .nav-search:hover .search-btn{
    background-color: #f44336;
    cursor: pointer;
}

#header .more-down{
    font-size: 13px;
}

#nav{
    font-size: 0;
    display: inline-block;
}

#nav > li {
    font-size: 16px;
    min-height: 46px;
    display: inline-block;
    position: relative;
}

#nav .nav-down{
    font-size: 13px;
}

#nav > li > a{
    text-decoration: none;
    min-height: 46px;
    line-height: 46px;
    padding: 0 24px;
    color: #fff;
    text-transform: uppercase;
    display: block;
}

.buy-btn:hover,
#nav > li:hover > a,
.subnav > li:hover > a,
.form-submit-btn:hover,
#modal .close-btn:hover,
.modal-body .pay:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#nav .subnav  {   
    position: absolute;
    display: block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.subnav > li{
    list-style-type: none;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
.subnav > li >a {
    min-width: 160px;
    color: #000;
    text-decoration: none;
    padding: 0 12px;
    display: block;
    line-height: 38.4px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../image/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .cover-content{
    position: absolute;
    bottom: 16px;
    color: rgb(200, 100, 150);
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

.image-content{
    font-weight: 400;
    font-size: 32px;
}

.image-decription{
    margin-top: 25px;
    font-size: 24px;
}

#content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tour,
.contact,
#content .about{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    max-width: calc(100% - 32px);
}

.about-content{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

.content-more{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .text-content{
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.5;
    text-align: justify;
}

.row.member{
    padding-bottom: 32px;
    margin-top: 15px;
}

#content .image-member{
    margin-top: 15px;
    width: 154px;
    /* height: 154px; */
    border-radius: 2%;
}

.background-tour{
    background-color: #000;
}

.table-tour{
    background-color: #fff;
}

.row.place-tour{
    padding-bottom: 48px;
}

.list-tourdays p{
    display: inline-block;
    font-size: 15px;
}

.list-tourdays{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.content-more{
    margin-bottom: 32px;
}

.tour > .about-content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.month-tour{
    color: #757575;
}

.list-tour .full-tic{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 8px;
}

.list-tour .buy-tic{
    float: right;
    padding: 0 8px 2px;
    background-color: #000;
    color: #fff;
    border-radius: 50% ;
    margin-right: 16px;

}

.img-place-tour{
    width: 100%;
    display: block;
}

.img-place-tour:hover{
    opacity: 0.6;
}

.info-place-tour{
    background-color: #fff;
    padding: 0 16px;
 }

.name-tour{
    font-weight: 625;
    padding-top: 15px;
}

.time-tour{
    opacity: 0.6;
    margin-top: 15px;
}

.info-tour{
    margin: 15px 0;
    line-height: 1.4;
}

.buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 0;
    display: inline-block;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
} 

.modal.open{
    display: flex;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    position: relative;
    max-width: calc(100% - 64px);
    animation: modalFadeIn ease 0.5s;
}

.modal-container .modal-header{
    padding: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-container .modal-header .heading-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 0 16px;
    font-size: 15px;
    font-weight: 600;
}

.modal-body .label-input{
    display: block;
    margin: 22px 0 8px;
}



.modal-body > .input-info{
    padding: 12px;
    width: 100%;
    display: block;
    opacity: 0.8;
}

.modal-body .pay{
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    font-size: 15px;
    background-color: #009688;
    border: 0;
}

 .modal-footer > p{
    float: right; 
    padding: 15px 0 31px 0;
}

.modal-footer  a.help{
    color: #2196f3;
    margin-right: 16px;
}

.modal .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #fff;
    font-size: 14px;
}

.modal .close-btn:hover{
    background-color: #f44336;
    color: #fff;
}

.contact .contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a {
    color: #2196f3;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-icon{
    width: 24px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact > .row {
    padding-top: 15px;
    padding-bottom: 32px;
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    float: right;
    padding: 11px 17px;
    background-color: #000;
    color: #fff;
    border: none;
}

.image-map {
    width: 100%;
}

.footer{
    width: 100%;
    padding: 64px 0;
}

.connect-to{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 22px;
    font-weight: 200;
    margin: 0 4px;
}


.connect a:hover {
    color: rgba(0, 0, 0, 0.3);
}

.product {
    margin: 15px 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.product a{
    color: rgba(0, 0, 0, 0.5);
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

